.App {
  text-align: center;
  min-height: 200vh;
}

.elcarta {
  margin: 20px 20px 70px 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}
.btnbtn {
  margin: 80px;
  position: sticky;
  top: 60px;
  z-index: 2;
}
